.ForgetPasswordPage{
background-image: url(./img//forgetback.jpg);
background-position: center center; 
background-repeat: no-repeat ;
background-size: cover;
    height: 100vh;
    position: relative;
}
.forgetPass{
    width: 500px;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.ResetPassword{
    background-image: url(./img/forgetback.jpg);
background-position: center center; 
background-repeat: no-repeat ;
background-size: cover;
    height: 100vh;
position: relative;
}
.ResetPass{
    width: 500px;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
